 

#logout_form input[type="submit"]
{
 width:250px;
 margin-top:10px;
 height:40px;
 font-size:16px;
 background:none;
 border:2px solid white;
 color:white;
}
#login_form
{
    background-color: white;
    width: 350px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 0px #3b240b;
    margin: 100px auto 0 auto;
    text-align: center;
}
#login_form h1
{
 margin:0px;
 font-size:25px;
 color:#8A4B08;
}
#login_form input[type="password"]
{
 width:250px;
 margin-top:10px;
 height:40px;
 padding-left:10px;
 font-size:16px;
}
#login_form input[type="submit"]
{
 width:250px;
 margin-top:10px;
 height:40px;
 font-size:16px;
 background-color:#8A4B08;
 border:none;
 box-shadow:0px 4px 0px 0px #61380B;
 color:white;
 border-radius:3px;
}
#login_form p
{
 margin:0px;
 margin-top:15px;
 color:#8A4B08;
 font-size:17px;
 font-weight:bold;
}

/*---------*/
#v-tooltip {
    position: absolute;
    background: #f9f2e0;
    padding: 10px;
    font-size: 13px;
    display: none;
}

body {
    font-family: Arial;
    background: #333;
}

a {
    text-decoration: none;
    font-size: 13px;
}

#a1 {
    display: flex;
    flex-wrap: wrap;
}

#a1 a {
    flex: 12.5%;
    height: 38px;
    padding: 11px 0;
    font-size: 12.5px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
    border: 0.2px solid #2e6da4;
    margin: 0;
    background: #ff66cc;
    white-space: nowrap;
    overflow: hidden;
}

#a2 {
    display: flex;
    flex-wrap: wrap;
}

#a2 a {
    flex: 12.5%;
    height: 38px;
    padding: 11px 0;
    font-size: 12.5px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #2e6da4;
    margin: 0;
    background: #ff66cc;
       white-space: nowrap;
    overflow: hidden;
}

#a4 {
    display: flex;
    flex-wrap: wrap;
}

#a4 a {
    flex: 12.5%;
    height: 38px;
    padding: 11px 0;
    font-size: 12.5px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #2e6da4;
    margin: 0;
    background: #ff66cc;
    white-space: nowrap;
    overflow: hidden;
}

#tab {
    height: 30px;
    display: flex;
    width: 37.5%;
    float: right;
}

#tab a {
    background: #337ab7;
    border-radius: 10px 10px 0 0;
    margin: 0 3px;
    color: #fff;
    display: block;
    width: 100%;
    padding: 7px 0;
    text-align: center;
}

#tab a:hover , #tab a.act {
    background: #B492F3 !important;
    color: #000;
}

.page {
    display: none;
}

.page a {
    font-size: 13px;
}

#a1 a.t1 {
    background: #A9F5A9
}

#a1 a.t2 {
    background: #D0A9F5
}

#a1 a.t3 {
    background: #A9F5A9
}

#a1 a.t4 {
    background: #ffec00
}

#a1 a.t5 {
    background: #b9edf8
}

#a1 a.t6 {
    background: #ffb6b9
}

#a1 a.t7 {
    background: #d0a9f5
}

#a1 a.t8 {
    background: #61ffa1
}

#a1 a.t9 {
    background: #ffb6b9
}

#a1 a.t10 {
    background: #ffb9ff
}

#a1 a.t11 {
    background: #ffa500
}




#a2 a.t1 {
    background: #ffb6b9
}

#a2 a.t2 {
    background: #d0a9f5
}

#a2 a.t3 {
    background: #61ffa1
}

#a2 a.t4 {
    background: #d0a9f5
}

#a2 a.t5 {
    background: #81e0ff
}

#a2 a.t6 {
    background: #dadada
}

#a2 a.t7 {
    background: #ffb6b9
}

#a4 a.t1 {
    background: #a9f5a9
}

#a4 a.t2 {
    background: #d0a9f5
}

#a4 a.t3 {
    background: #61ffa1
}

#a4 a.t4 {
    background: #ffec00
}

#a4 a.t5 {
    background: #81e0ff
}

#a4 a.t6 {
    background: #dadada
}

#a4 a.t7 {
    background: #ffb6b9
}

#a4 a.t8 {
    background: #81e0ff
}

#a4 a.t9 {
    background: #dadada
}

#a4 a.t10 {
    background: #61ffa1
}

#a1 a:hover , #a2 a:hover , #a4 a:hover , #a1 a.act , #a2 a.act , #a4 a.act {
    background: #fff;
    color: #000;
    border: 1px dashed #000;
}

#rtcAudioPath {
    width: 100%;
    text-align: center;
}

.page {
    display: none;
}

audio {
    float: left;
    max-width: 100%;
}

.clear {
    clear: both;
}

.clear15 {
    clear: both;
    height: 15px;
}

#noidung {
    width: 25%;
    float: left;
}

#noidung span {
    background: #f9f2e0;
    text-align: justify;
    display: block;
    padding: 20px;
}


#button {
    float: left;
    width: 62%;
}

#stt{
    width: 2%;
    float: left;   
    padding: 32px 0px 0 0px; 
}
#stt a{       
    padding: 10px 6px 11.5px 0px;
    text-align: right;
    
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #333;
    margin: 0;    
    white-space: nowrap;
    overflow: hidden;
    display: block;
    color: #fff;
}
@media screen and (max-width: 1000px)
{
    #stt{ display: none; }
    #noidung  , #button{ width:100%; margin:0}
}
